<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-YMAgentSdk" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>YMAgentSdk</name>
    <js-module name="YMAgentSdk" src="www/YMAgentSdk.js">
        <clobbers target="cordova.plugins.YMAgentSdk" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="YMAgentSdk">
                <param name="android-package" value="ai.yellow.agentsdk.AgentSdkModule" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <preference name="AndroidXEnabled" value="true" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <lib-file src="src/android/ai/yellow/agentsdk/core-sdk-debug.aar"/>

        <!-- Source java files -->
        <source-file src="src/android/ai/yellow/agentsdk/AgentSdkModule.java" target-dir="src/ai/yellow/agentsdk" />
        <source-file src="src/android/ai/yellow/agentsdk/AgentSdkIonicBroadCastReceiver.java" target-dir="src/ai/yellow/agentsdk" />
        <source-file src="src/android/ai/yellow/agentsdk/AgentSdkService.java" target-dir="src/ai/yellow/agentsdk" />

        <!-- Utils java files -->
        <source-file src="src/android/ai/yellow/agentsdk/utils/Utils.java" target-dir="src/ai/yellow/agentsdk/utils" />

        <!-- Models java files -->
        <source-file src="src/android/ai/yellow/agentsdk/models/ClientModel.java" target-dir="src/ai/yellow/agentsdk/models" />

        <framework custom="true" src="src/android/ai/yellow/agentsdk/agentSdk.gradle" type="gradleReference" />
        <framework src="androidx.appcompat:appcompat:1.0.0" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AgentSdk">
                <param name="ios-package" value="AgentSdk" />
            </feature>
        </config-file>
        <!-- For swift support -->
        <source-file src="src/ios/AgentSdk.swift" />
        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" branch="master"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YMSupport" options=":path => '~/development/ym_mobile/plugins_bridges_sdks/new_SDK/YellowInbox-iOS'" />
            </pods>
        </podspec>
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-plugin-agentsdk">
                <param name="ios-package" value="cordova-plugin-agentsdk"/>
            </feature>
            <preference name="deployment-target" value="13.0" />
            <preference name="target-device" value="universal" />
        </config-file>
        <info>Please ensure to set minimum deployment target to 13.0</info>
    </platform>
</plugin>