<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yellowinbox" version="1.3.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>YellowInbox</name>
    <js-module name="YellowInbox" src="www/YellowInbox.js">
        <clobbers target="cordova.plugins.YellowInbox" />
    </js-module>
    <platform name="android">
        <dependency id="cordova-plugin-androidx-adapter"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="YellowInbox">
                <param name="android-package" value="ai.yellow.inbox.YellowInboxModule" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <preference name="AndroidXEnabled" value="true" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <lib-file src="src/android/ai/yellow/inbox/yellowInbox.aar"/>

        <!-- Source java files -->
        <source-file src="src/android/ai/yellow/inbox/YellowInboxModule.java" target-dir="src/ai/yellow/inbox" />
        <source-file src="src/android/ai/yellow/inbox/YellowInboxBroadCastReceiver.java" target-dir="src/ai/yellow/inbox" />

        <!-- Utils java files -->
        <source-file src="src/android/ai/yellow/inbox/utils/Utils.java" target-dir="src/ai/yellow/inbox/utils" />

        <framework custom="true" src="src/android/ai/yellow/inbox/yellowInbox.gradle" type="gradleReference" />
        <framework src="androidx.appcompat:appcompat:1.0.0" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="YellowInbox">
                <param name="ios-package" value="YellowInbox"/>
            </feature>
            <preference name="deployment-target" value="13.0" />
            <preference name="target-device" value="universal" />
        </config-file>
        <!-- For swift support -->
        <source-file src="src/ios/YellowInbox.swift" />
        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" branch="master"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YMSupport" options=":path => '~/development/ym_mobile/plugins_bridges_sdks/new_SDK/YellowInbox-iOS'" />
            </pods>
        </podspec>
        <info>Please ensure to set minimum deployment target to 13.0</info>
    </platform>
</plugin>